<div style="padding: 10px 100px;">
    <mat-card *ngIf="question">
        <mat-card-header>
            <mat-card-title><a style="text-decoration:none;color:#000000;"> {{question.title}}</a></mat-card-title> 
            <mat-card-subtitle>
                {{question.user?.fullName}}
                {{question.postTime}}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                {{question.content}}
                {{question.questionID}}
            </p>
        </mat-card-content>
        <div style="margin-bottom: 20px;">
            <mat-form-field style="width: 100%;" hintLabel="Max 500 characters" appearance="outline">
                <mat-label>Answer </mat-label>
                <textarea style="height: 30px;" matInput #input maxlength="500" [(ngModel)]="answer.content"></textarea>
                <mat-hint align="end">{{input.value?.length || 0}}/500</mat-hint>
            </mat-form-field>
            <button mat-flat-button color="warn" style="margin-right: 10px;">
                Like
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-flat-button color="primary" (click)="CreateAnswer()">
                Answer
                <mat-icon>drive_file_rename_outline</mat-icon>
            </button>
        </div>
    </mat-card>
</div>
<div style="padding: 10px 100px;">
    <mat-paginator  [length]="answers?.length" 
                    [pageSize]="pageSize"
                    [pageSizeOptions]="[5, 10, 20, 30]"
                    showFirstLastButtons="true"
                    (page)="getAnswersData($event)"
                    >
    </mat-paginator>
</div>
<div style="padding: 10px 100px;" *ngFor="let answer of answerDisplay">
    <mat-card>
        <mat-card-content>
            <p *ngIf="!editAnswer || editAnswer.answerID !== answer.answerID">
                {{answer.content}}
            </p>
            <p *ngIf="editAnswer && editAnswer.answerID === answer.answerID">
                <mat-form-field style="width: 100%;" hintLabel="Max 500 characters" appearance="outline">
                    <mat-label>Answer </mat-label>
                    <textarea style="height: 30px;" matInput #input maxlength="500" [(ngModel)]="editAnswer.content"></textarea>
                    <mat-hint align="end">{{input.value?.length || 0}}/500</mat-hint>
                </mat-form-field>
            </p>
        </mat-card-content>
        <mat-card-subtitle>
            {{answer.user?.fullName}}---{{answer.postTime}}
        </mat-card-subtitle>
        <button *ngIf="!editAnswer || editAnswer.answerID !== answer.answerID" mat-raised-button color="accent" style="margin-right: 10px;" (click)="setEdit(answer)">Edit</button>
        <button *ngIf="!editAnswer || editAnswer.answerID !== answer.answerID" mat-raised-button mat-button color="warn" [matMenuTriggerFor]="menu">Delete</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="DeleteAnswer(answer)">Delete</button>
            <button mat-menu-item>Cancel</button>
        </mat-menu>
        <button *ngIf="editAnswer && editAnswer.answerID === answer.answerID" mat-raised-button color="primary" style="margin-right: 10px;" (click)="updateAnswer(answer)">Update</button>
        <button *ngIf="editAnswer && editAnswer.answerID === answer.answerID" mat-raised-button color="warn" (click)="cancelEdit()">Cancel</button>
    </mat-card>
</div>

<!-- <div style="padding: 10px 100px;" *ngFor="let answer of answers">
    
</div> -->