<div style="padding: 10px 100px;" *ngFor="let question of questions">
    <mat-card >
        <mat-card-header>
            <mat-card-title>{{question.title}}</mat-card-title>
            <mat-card-subtitle>
                {{question.postTime}}
            </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <p>
                {{question.content}}
            </p>
        </mat-card-content>

        <mat-card-actions>
            <button mat-flat-button color="primary">Answer</button>
        </mat-card-actions>
    </mat-card> 
</div>