<mat-toolbar>
    <span style="flex: 1 1 auto;"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button (click)="signOut()" mat-menu-item>Sign Out</button>
    </mat-menu>
</mat-toolbar>

<div style="padding: 10px 100px;">
    <mat-form-field style="width: 100%;" appearance="fill">
        <mat-label>Search</mat-label>
        <input matInput type="text" name="search" [(ngModel)]="searchText" autocomplete="off" (input)="search($event)">
    </mat-form-field>
</div>
<div style="padding: 10px 100px;">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Ask a question and start a new topic!</mat-card-title>
            <mat-card-subtitle>The youths with similar talents will answer your query.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <button mat-flat-button color="accent" (click)="openDialogCreate()">
                Create Question
                <mat-icon>drive_file_rename_outline</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>

<div>
    <div style="padding: 10px 100px;">
        <mat-paginator [length]="filterQuestions?.length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20, 30]"
            showFirstLastButtons="true" (page)="pageChange($event)">
        </mat-paginator>
    </div>

    <div style="padding: 10px 100px;" *ngFor="let question of questionDisplay">
        <mat-card>
            <mat-card-header>
                <mat-card-title><a style="text-decoration:none;color:#000000;"
                        routerLink="/question/{{question.questionID}}">{{question.title}}</a></mat-card-title>
                <mat-card-subtitle>
                    {{question.postTime}}
                </mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
                <p>
                    {{question.content}}
                </p>
            </mat-card-content>

            <mat-card-actions>
                <button [matBadge]="question.answers.length" matBadgeColor="warn" mat-flat-button color="primary"
                    routerLink="/question/{{question.questionID}}">
                    Answer
                    <mat-icon>arrow_forward</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>