<div style="padding: 10px 100px;">
    <mat-form-field style="width: 100%;" appearance="fill">
        <mat-label>Search</mat-label>
        <input matInput type="text" name="search" [(ngModel)]="searchText" autocomplete="off" (input)="search($event)">
    </mat-form-field>
</div>
<div style="padding: 10px 100px;">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Ask a question and start a new topic!</mat-card-title>
            <mat-card-subtitle>The youths with similar talents will answer your query.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <button mat-flat-button color="accent" (click)="openDialogCreate()">
                Create Question
                <mat-icon>drive_file_rename_outline</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>

<div>
    <div style="padding: 10px 100px;">
        <mat-paginator [length]="filterQuestions?.length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20, 30]"
            showFirstLastButtons="true" (page)="pageChange($event)">
        </mat-paginator>
    </div>

    <div style="padding: 10px 100px;" *ngFor="let question of questionDisplay">
        <mat-card>
            <mat-card-header>
                <mat-card-title><a style="text-decoration:none;color:#000000;"
                        routerLink="/question/{{question.questionID}}">{{question.title}}</a></mat-card-title>
                <mat-card-subtitle>
                    {{question.user?.fullName}} -- {{question.postTime}}
                </mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
                <p>
                    {{question.content}}
                </p>
            </mat-card-content>

            <mat-card-actions>
                <mat-card-subtitle>
                    <a *ngIf="question.likes.length > 0" (click)="openDialogUserLike(question)"style="text-decoration:none;color:#666666;" >
                        <span>
                            {{question.likes.length}}
                            <mat-icon style="font-size: 15px;padding-left: 2px;" color="warn">favorite</mat-icon>
                        </span>
                    </a>
                </mat-card-subtitle>
                <button *ngIf="!question.liked" (click)="Like(question.questionID)" mat-stroked-button style="margin-right: 10px;">
                    <mat-icon>
                        favorite_border
                    </mat-icon>
                    Like
                </button>
                <button *ngIf="question.liked" (click)="Like(question.questionID)" mat-raised-button color="warn" style="margin-right: 10px;">
                    <mat-icon>
                        favorite
                    </mat-icon>
                    Like
                </button>
                <button [matBadge]="question.answers.length" matBadgeColor="warn" mat-flat-button color="primary"
                    routerLink="/question/{{question.questionID}}">
                    Answer
                    <mat-icon>arrow_forward</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>